@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 576px) {
	.custom-layout {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.custom-container {
	width: 576px;
}

.custom-button {
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #313a4a;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

@media (max-width: 576px) {
	.custom-container {
		width: 100%;
	}
}

a {
	color: #313a4a;
}

body {
	background-color: rgb(229 231 235);
}

input {
	font-size: 1.25rem;
	border: 1px #313a4a solid;
	border-radius: 5px;
	padding: 5px 10px;
}

textarea {
	font-size: 1.25rem;
	border: 1px #313a4a solid;
	border-radius: 5px;
	padding: 5px 10px;
}

button {
	font-size: 1.25rem;
	border: none;
	background-color: #313a4a;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

img {
	max-width: none; /* Remove max-width */
	height: inherit; /* Remove height */
}
